body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

/* * {
  box-sizing: border-box;
} */

p,
h1,
h1,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.section-title span {
  color: #fd9222;
}

/* =================HEADER=============== */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-menu-item {}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;

  /* transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: color 300ms ease;
}

.header-menu-link:hover {
  color: #fd9222;
}

.header-soc {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition: color 300ms linear, border-color 300ms linear;
}

.header-soc-link:hover,
.header-soc-link:focus {
  border: 1px solid #FCF1E0;
}

.header-soc-icon {
  fill: currentColor;
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  fill: #fd9222;
}

/* =================HERO=============== */

.hero {}

.hero-container {
  width: 100%;
  max-width: 1166px;
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)),
    url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
  margin-bottom: 120px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: flex-end;
}

.hero-buy-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #fd9222;
  line-height: normal;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;

  transition: color 300ms linear, background-color 300ms linear;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;

  transition: color 300ms linear, border-color 300ms linear;
}

.hero-anchor-btn:hover,
.hero-anchor-btn:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-bottom-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-bottom-btn::after {
  content: " ";
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../images/icon/banner-flèche.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition-duration: 300ms;
}

.hero-bottom-btn:hover::after {
  background-size: 22px;
}

/* =================FEATURES=============== */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.features-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.features-item:not(:last-child)::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -44px;
  height: 124px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.features-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* =================TASTE=============== */

.taste {
  padding-top: 120px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.taste-item {
  border-radius: 15px;
  width: calc((100% - (32px * 3)) / 4);
  padding: 28px 23px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}

/* =================MADE=============== */

.made {
  padding-top: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img {}

.made-container {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 28px;
}

.made-list {}

.made-item {
  margin-bottom: 24px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/* =================PRODUCRS=============== */

.products {
  padding-top: 120px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.list {}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 32px 20px;
  text-align: center;
  width: calc((100% - (18px * 3)) / 4);
}

.products-img {
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 2px;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-item-price {
  font-weight: 600;
  font-size: 14px;
  color: #111111;
  line-height: normal;
}

/* =================SELLERS=============== */

.sellers {
  padding-top: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  width: calc((100% - (16px * 2)) / 3);
}

.sellers-item:hover .sellers-text-wrap {
transform: translateY(0);
}

.sellers-img {}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-text-wrap {
  position: absolute;
  height: 100%;
  top: 0;

  display: flex;
  align-items: center;
  justify-items: center;
  padding: 40px;
  backdrop-filter: blur(15px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.sellers-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
  
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

/* =================LOVED=============== */

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.loved-item {
  width: calc((100% - (28px * 2)) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
}

.loved-img {}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  line-height: normal;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/* =================FOOTER=============== */

.footer {
  background-color: #1e1823;
}

.footer-container {
  padding: 50px 32px 86px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-top-list {
  display: flex;
  gap: 50px;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29%;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-soc-list {}

.footer-soc-item {}

.footer-soc-link {}

.footer-address {
  font-style: inherit;
}

.footer-address-list {}

.footer-address-item {}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}

.footer-navigation {}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-menu-link:is(:hover, :focus) {
  color: #fd9222;
}